.app {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer > a {
    margin-top: 1.5rem;
}